body {
    color:#333;
}

h1#title {
    transition: 0.3s, transform 0.3s;
}

h1#title {
    text-align: center;
    color:rgb(55, 120, 218);
}

h1#title a:visited {
    color: rgb(55, 120, 218);
}

h1#title:hover {
    transform: scale(1.25);
}

nav {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red); /* Gradiente duplicado */
    background-size: 300% 100%; /* Aumenta o tamanho do gradiente */
    animation: rainbow 10s linear infinite; /* Animação contínua */
    width: auto;
    padding: 15px 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

h6 {
    font-size: xx-large;
    margin: 0;
    color: white;
}

@keyframes rainbow {
    0% { background-position: 0%; }   /* Começa na posição inicial */
    100% { background-position: 150%; } /* Move até o final */
}


a {
    text-decoration:none;
    text-align: center;
}


